.wrapper {
  padding-top: 100px;
  padding-bottom: 100px;

  .challenge {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .heading {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        display: flex;
      }

      span {
        font-size: 20px;
      }
    }
  }

  .actual_code {
    background-color: white;
    color: var(--bg-color);
    max-width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 4px;

    code {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .image_div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 10px;

    img {
      max-width: 80%;
      border: 1px solid white;
    }
  }

  .data_types {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      display: flex;
      flex-direction: column;
      gap: 20px;
      b {
        text-decoration: underline;
        padding-bottom: 30px;
      }
    }
    .data_type {
      display: flex;
      flex-direction: column;
      gap: 10px;
      b {
        display: flex;
        align-items: center;
        color: white;
        gap: 10px;
        .bullet {
          background-color: white;
          height: 10px;
          width: 10px;
          border-radius: 50%;
        }
      }

      span {
        font-style: italic;
      }
    }
  }
}
