.wrapper {
  padding-top: 100px;
  padding-bottom: 100px;

  .challenge {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .heading {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        display: flex;
      }

      span {
        font-size: 20px;
      }
    }
  }

  .actual_code {
    background-color: white;
    color: var(--bg-color);
    max-width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 4px;

    code {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  h2 {
    display: flex;
    align-self: flex-start;
    text-decoration: underline;
    padding-top: 100px;
  }

  .image_div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 10px;

    img {
      max-width: 80%;
      border: 1px solid white;
    }
  }

  .data_types {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      display: flex;
      flex-direction: column;
      gap: 20px;

      span {
        display: flex;
      }
      b {
        text-decoration: underline;
        padding-bottom: 30px;
      }
    }
    .data_type {
      display: flex;
      flex-direction: column;
      gap: 10px;

      b {
        display: flex;
        align-items: center;
        color: white;
        gap: 10px;

        .bullet {
          background-color: white;
          height: 10px;
          width: 10px;
          border-radius: 50%;
        }
      }

      code {
        display: flex;
        gap: 10px;
        background-color: white;
        color: var(--bg-color);
        padding: 10px;
        border-radius: 4px;
        width: 60%;
      }
    }
  }

  .try_this {
    .try_this_header {
      display: flex;
      align-self: center;
      font-size: clamp(40px, 4vw, 60px);
      font-weight: 700;
    }
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: max-content;
    gap: 10px;
    code {
      display: flex;
      text-align: center;
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }
    background-color: white;
    padding: 20px;
    max-width: 70%;
    margin: auto;
    color: var(--bg-color);
    border-radius: 4px;
  }
}

@media screen and (max-width: 850px) {
  .wrapper {
    padding-top: 0px;
    padding-bottom: 100px;
    text-align: center;

    .challenge {
      .heading {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
          display: flex;
        }
        span {
          font-size: 20px;
        }
      }
    }

    .actual_code {
      max-width: 100%;
    }

    .image_div {
      img {
        max-width: 80%;
      }
    }

    .data_types {
      display: flex;
      flex-direction: column;
      gap: 40px;
      h3 {
        text-align: left;
      }
      p {
        align-items: flex-start;
        span {
          text-align: left;
        }
      }
      .data_type {
        span {
          text-align: left;
        }

        code {
          width: 100%;
        }
      }
    }

    .try_this {
      max-width: 80%;
    }
  }
}
